#made-with-bulma {
  width: 128px;
  height: 24px;
  vertical-align: bottom;
}

#notification {
  position: fixed;
  top: 10px;
  right: 10px;
  opacity: 1;
  transition: opacity 1s linear;
  z-index: 40;
}

#notification.fade {
  opacity: 0;
}

.is-dock td {
  width: 40px;
  height: 40px;
  padding: 0;
}

.is-box {
  display: inline-block;
  cursor: grab;
  line-height: 0;
  touch-action: none;
}

.is-box.is-grabbed {
  cursor: grabbing;
}

.is-box > svg {
  pointer-events: none;
}
